body{
    font-family: 'Nerko One', cursive;
    background-color:#000;
    color:#fff;
    width:800px;
    margin: 0px auto;
}
#shape{
    width:200px;
    height:200px;
    background-color:red;
    display:none;
    position:relative;
    top:30px;
    left:30px;
    border:2px solid #fff;
}
.bold{
    font-weight:900
}