
body{
    background: url(weather.jpg) no-repeat center center fixed;
    background-size: cover
}

.container {
    width: 600px;
    margin:auto;
    border:0px solid #fff;
    text-align:center;
    margin-top:15%
}